body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0px;
}
a:link{
    text-decoration: none;
}
nav {
    text-align: right;
    color: white;
}
.header {
    /* background : url(https://images.unsplash.com/photo-1451187580459-43490279c0fa?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=752&q=80); */
    background : url(./header-image.jpg);
    background-size: cover;
    height: 100vh;        
    color: white;
    height: 250px;
}
.header-heading {
    margin-top: 50px;
    margin-left: 150px;
}
.header-main-heading {
    margin: 4px;
    font-size: 50px;
}
.header-sub-heading {
    margin: 4px;
    font-size: 30px;
}
.nav-item {
    font-size: 25px;
    color: white;
    text-decoration: underline;
    padding: 8px;
}

.main-sub-section {
    text-align: center;
}

.title-heading {
    font-size: 50px;
}
.section-detail {
    text-align: center;
}

.section-items {
    font-size: 20px;
}

.main-section-detail {
    margin: 0 60px;
    font-size: 40px;
    font-weight: bold;
}
.project-details{
    font-size: 20px;
    font-weight: 400;
}

.main-section-detail p {
    margin-bottom: 0px;
}

.main-home-section {
    margin-left: 10%;
    margin-right: 10%;
    font-size: large;
    /* font-weight: bold; */
}

.main-sub-section{
    margin-right: 10%;
    margin-left: 10%;
}

.project-title {
    margin-top: 0px;
}

/* Media Queries */

/* @media only screen and (min-width: 750px) {
    .header {
        background : url(./header-image.jpg);
        background-size: cover;
        color: white;
        height: 250px;
    }
    .header-main-heading {
        margin: 4px;
        font-size: 30px;
    }
    .header-sub-heading {
        margin: 4px;
        font-size: 20px;
    }

} */
@media only screen and (max-width: 600px) {
    /* styles for wide screens */
    .header {
        /* background : url(https://images.unsplash.com/photo-1451187580459-43490279c0fa?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=752&q=80); */
        background : url(./header-image.jpg);
        background-size: cover;
        /* height: 30vh; */
        color: white;
        display: flex;
        justify-content: center;
    }
    .header-heading {
        margin-top: 45px;
        margin-left: 20px;
    }
    .header-main-heading {
        margin: 4px;
        font-size: 35px;
    }
    .header-sub-heading {
        margin: 4px;
        font-size: 25px;
    }
    .title-heading {
        font-size: 36px;
    }
}
@media only screen and (max-width: 320px) {
    /* styles for narrow screens */
    .header-main-heading {
        margin: 4px;
        font-size: 25px;
    }
    .header-sub-heading {
        margin: 4px;
        font-size: 20px;
    }
    .title-heading {
        font-size: 25px;
    }
    .header {
        /* background : url(https://images.unsplash.com/photo-1451187580459-43490279c0fa?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=752&q=80); */
        background : url(./header-image.jpg);
        background-size: cover;
        color: white;
        display: flex;
        justify-content: center;
    }
}
@media only screen and (max-width: 250px) {
    .header nav{
        display: none;
    }
}
