body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0px;
}
nav {
    text-align: right;
    color: white;
}
.header {
    /* background : url(https://images.unsplash.com/photo-1451187580459-43490279c0fa?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=752&q=80); */
    background : url(./header-image.jpg);
    background-size: cover;
    color: white;
    height: 250px;
}
.header-heading {
    margin-top: 50px;
    margin-left: 150px;
}
.header-main-heading {
    margin: 4px;
    font-size: 50px;
}
.header-sub-heading {
    margin: 4px;
    font-size: 30px;
}
.nav-item {
    font-size: 25px;
    color: white;
    text-decoration: underline;
    padding: 8px;
}

.main-sub-section {
    text-align: center;
}

.title-heading {
    font-size: 50px;
}
.section-detail {
    text-align: center;
}

.section-items {
    font-size: 20px;
}

.main-section-detail {
    margin: 0 60px;
    font-size: 40px;
    font-weight: bold;
}
.project-details{
    font-size: 20px;
    font-weight: 400;
    text-decoration: none;
}

.main-section-detail p {
    margin-bottom: 0px;
}

.main-home-section {
    margin-left: 10%;
    margin-right: 10%;
    font-size: large;
    /* font-weight: bold; */
}

.main-sub-section{
    margin-right: 10%;
    margin-left: 10%;
}

.project-title {
    margin-top: 0px;
}